@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-400.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-700.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/inter-900.woff2) format("woff2");
  font-weight: 900;
  font-display: swap;
}


/* Общиен стили для одинаковых элементов */
body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-style: normal;
  font-weight: 400;
  background-color: #FEAFC3;

  color: #2D3440;

  margin: 0;

  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.large-text-decoration {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;

  text-align: center;
}

.medium-text-decoration {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.small-text-decoration {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.main-button-text-decoration {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.button-red {
  color: #FCFCFC;
  background-color: #FF2F64;
}
.main-button{
  position: relative;
  background: #FCFCFC;
  border-radius: 26px;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  padding: 12px 32px;
  border: 4px solid rgba(252, 252, 252, 0.4);
  box-sizing: border-box;
}
.main-button:hover{
  background: rgba(252, 252, 252, 0.4);
  box-shadow: 0 4px 15px rgba(133, 133, 133, 0.15);
  border: 4px solid #FCFCFC;
}
.main-button:focus{
  background: rgba(252, 252, 252, 0.5);
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
}
.main-button:active{
  outline: 2px solid #2D3440;
  box-shadow: 0 4px 12px rgba(45, 52, 64, 0.1);
  background: #FCFCFC;
}
.main-button[disabled]{
  background: #E7E7E7;
  border: 4px solid rgba(252, 252, 252, 0.4);
  color: #B9B9B9;
}
.main-button.loading{
  padding-right:56px;
}
.main-button.loading::after{
  position:absolute;
  content: "";
  width:16px;
  height: 16px;
  border:2px solid rgba(36,36,36, 0.24);
  right:32px;
  top:15px;
  border-radius: 50%;
  box-sizing: border-box;
}
.main-button.loading::before{
  position: absolute;
  content: "";
  width:16px;
  height:16px;
  border:2px solid rgba(36,36,36);
  right:32px;
  top:15px;
  border-radius: 50%;
  z-index: 1;
  box-sizing: border-box;
  clip: rect(auto,auto,8px,8px);
}
.placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* Сетка*/
html {
  height: 100%;
}

.main-index {
  flex-grow: 1;
}

.main-container {
  width: 1170px;
  margin: 0 auto;
}


/* Хедер */
.main-header {
  font-size: 16px;
  line-height: 20px;
}

.main-header-telephone {
  font-weight: 700;
}

.main-header a {
  color: inherit;
  text-decoration: none;
}

.button-user {
  font-size: 14px;
  line-height: 20px;
}


.navigation-wrapper {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  padding:24px 0;
}

/* Позиционируем элементы первой навигации */
.main-navigation {
  min-width: 700px;
  display: flex;
  vertical-align: baseline;
}

.header-logo {
  margin-right: 16px;
  height:57px;
}

.navigation-list {
  display: flex;
  align-items: center;
  vertical-align: baseline;

  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-item a{
  display: block;
  padding:8px 16px;
}
.navigation-item a.catalog-dropdown{
  display: block;
  position: relative;
  padding-right:38px;
}
.catalog-dropdown-icon{
  position: absolute;
  left:auto;
  right:16px;
  top:10px;
  fill:#2D3440;
}
.navigation-item:hover{
  background-color: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
}
.navigation-item:active{
  background-color: #FCFCFC;
  border-radius: 30px;
}
.navigation-item:focus{
  background: rgba(252, 252, 252, 0.5);
  border-radius: 30px;
  outline: 2px solid #2D3440;
}
.navigation-item.active {
  background: #FF4A78;
  color: #FCFCFC;
  border-radius: 30px;
}
.navigation-item.active svg{
  transform: rotate(0.5turn);
  fill:#FCFCFC;
}
.navigation-item.active:hover{
  background: rgba(255,74,120,0.6);
}
.navigation-item.active:active{
  background:rgba(255,74,120,0.3);
}
.navigation-item.active:focus{
  background: #FF4A78;
  border-radius: 30px;
  outline: 2px solid #2D3440;
}
/* Позиционируем элементы второй навигации */
.user-navigation-telephone-wrapper {
  display: flex;
  align-items: center;
  margin-right: 0;
  margin-left: auto;
}

.main-header-telephone {
  margin-left: auto;
  padding:6px 0;
}
.button-search{
  background-image: url(../images/element/nav-search.svg);
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 27px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  width:32px;
  height:32px;
  box-sizing: border-box;
  display: block;
}
.button-search:hover{
  background-color: rgba(252, 252, 252, 0.5);
}
.button-search:focus{
  outline:2px solid #2D3440;
}
.button-search:active{
  background-color: #FCFCFC;
}
.button-search.active{
  background-color: #FF4A78;
  border-radius: 27px;

}
.button-search.active:hover{
  background-color: rgba(255,74,120,0.6);
}
.button-search.active:active{
  background-color:rgba(255,74,120,0.3);
}
.button-search.active:focus{
  background-color: #FF4A78;
  border-radius: 30px;
  outline: 2px solid #2D3440;
}
.button-entry{
  background-image: url(../images/element/nav-log-in.svg);
  background-repeat: no-repeat;
  background-position: 16px;
  background-size: 16px 16px;
  padding: 6px 16px 6px 38px;
  display: block;
  box-sizing: border-box;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}
.button-entry:hover{
  background-color: rgba(252, 252, 252, 0.5);
}
.button-entry:focus{
  outline:2px solid #2D3440;
}
.button-entry:active{
  background-color: #FCFCFC;
}
.buttin-entry.active{
  background-color: #FF4A78;
}
.button-entry.active:hover{
  background-color: rgba(255,74,120,0.6);
}
.button-entry.active:active{
  background-color:rgba(255,74,120,0.3);
}
.button-entry.active:focus{
  background-color: #FF4A78;
  border-radius: 30px;
  outline: 2px solid #2D3440;
}
.button-basket{
  background-image: url(../images/element/cart.svg);
  background-repeat: no-repeat;
  background-position: 16px;
  background-size: 16px 16px;
  padding: 6px 16px 6px 38px;
  display: block;
  box-sizing: border-box;
  background-color: rgba(252, 252, 252, 0.3);
  border-radius: 30px;
}
.button-basket:hover{
  background-color: rgba(252, 252, 252, 0.5);
}
.button-basket:focus{
  outline:2px solid #2D3440;
}
.button-basket:active{
  background-color: #FCFCFC;
}

.user-navigation-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}

.user-navigation-item {
  margin-left: 16px;
  margin-right: 0;
}
/* Слайдер */
/* Микросетики на гридах */
.offer-slider ul {
  list-style: none;
  margin:0;
  padding:0;
}
.offer-slider{
  margin-bottom: 80px;
  position: relative;
}
.offer-slide-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
  margin-top:0;
  margin-bottom: 24px;
}
.offer-slider-text-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-top:0;
  margin-bottom: 48px;
}
.offer-slider a {
  color: inherit;
  text-decoration: none;
}
.offer-slide{
  display:grid;
  grid-template-columns: 540px 630px;
  align-items: center;
}

.offer-slide-img-container{
  display:grid;
  grid-template-columns: 350px 100px 100px;
  gap:41px;
  align-items: center;
  justify-items: center;
}
.offer-slide-text-container{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left:70px;
}
.offer-slider-img-item-big{
  position: relative;
}
.offer-slider-img-item-big::after{
  content: "";
  width:312px;
  height:312px;
  position: absolute;
  border-radius: 50%;
  background-color: #FFCBD8;
  top: 100px;
  z-index: -1;
}
.big-slider-img{
  display: block;
  margin:21px auto 0 auto;
}
.offer-slide-img-item-small{
  position: relative;
}
.offer-slide-img-item-small::after{
  content: "";
  width: 100px;
  height: 100px;
  position: absolute;
  border-radius: 50%;
  background-color: #FFCBD8;
  top: 25px;
  left:-17px;
  z-index: -1;
}
.offer-slider-navigation-buttons{
  position: absolute;
  top: 240px;
  left: 545px;
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.slider-button{
  display: block;
  border-radius: 50%;
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
  width: 38px;
  height: 38px;
  box-sizing: border-box;
}
.slider-button-arrow{
  display:block;
  margin: auto;
  margin-top: 9px;
  fill:rgba(252, 252, 252, 1);

}
.slider-button:hover{
  background-color: #FCFCFC;
}
.slider-button:hover .slider-button-arrow{
  fill:#2D3440;
}
.slider-button:active{
  background-color: rgba(252, 252, 252, 0.5);
}
.slider-button:focus{
  background-color: rgba(252, 252, 252, 0.3);
   border: 2px solid #2D3440;
}
.slider-button:focus .slider-button-arrow{
  fill:#2D3440;
}
.slider-button[disabled]{
  background-color: rgba(252, 252, 252, 0.3);
  border: 2px solid #FCFCFC;
}
.slider-button[disabled] .slider-button-arrow{
  fill:#FCFCFC;
}
.offer-slider-navigation-dots-social-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.offer-slider-navigation-dots-list {
  display: grid;
  grid-template-columns: repeat(3, 12px);
  gap:8px;
}
.offer-slider-navigation-dots-button{
  display:block;
  width:12px;
  height:12px;
  background-color: rgba(252,252,252,0.3);
  border-radius: 50%;
}
.offer-slider-navigation-dots-button:hover{
  outline:1px solid #FCFCFC;
  background-color: rgba(252,252,252,0.3);
}
.offer-slider-navigation-dots-button:active{
  background-color: rgba(252,252,252,0.5);
}
.offer-slider-navigation-dots-button.current{
  background-color: rgba(252,252,252,1);
}
.offer-slider-navigation-dots-button:focus{
  outline:1px solid #2D3440;
  background-color: rgba(252,252,252,0.3);
}
/* социальные сети */
.social-list {
  display: grid;
  grid-template-columns: repeat(3,24px);
  gap:16px;
  list-style: none;

  padding: 0;
  margin: 0;
}

.social-item {

}
.social-link{
  display: block;
  height: 24px;
  outline: 2px solid rgba(252, 252, 252, 0.3);
  border-radius: 50%;
}
.social-link-img{
 fill:#FCFCFC;
}
.social-link:hover{
  background-color: rgba(45, 52, 64, 1);

}
.social-link:active{
  background-color: rgba(45, 52, 64, 0.5);
}
.social-link:active .social-link-img{
  fill:rgba(252, 252, 252, 0.5);
}
.social-link:focus .social-link-img{
 fill:#FCFCFC;
}
.social-link:focus{
  outline: 2px solid rgba(45, 52, 64, 1);
  background-color: rgba(45, 52, 64, 1);
}
/* Подарки */

.gifts a {
  color: inherit;
  text-decoration: none;
  align-self: flex-end;
  justify-self: flex-start;
}
.gifts-title{
  margin:0 auto 55px;
}

.gift-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-wrap: wrap;
}

.gift-item {
  background-color: #FF7799;
  width: 570px;
  padding: 36px;
  padding-right: 0;
  box-sizing: border-box;

  display: flex;
  border-radius: 16px;

}
.gift-text-container{
  display:grid;
  grid-template-rows: min-content, 1fr, min-content;
  gap:28px;
}
.gift-item-title{
  margin:0;
}
.gift-item-text-content{
  margin:0;
}

.gift-item:nth-child(odd) {
  margin-right: 30px;
}
.gifts{
  margin-bottom: 80px;
}
/* Популярные продукты */
.popular-title{
  margin:0 0 56px 0;
}
.popular-product-list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(4, 270px);
  gap:30px;
}
.popular-product-item-link{
  display:block;
}
.popular-product-item-text-container{
  padding:0 40px 24px 40px;
  display:flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
}

.popular-item-title{
  margin:0 0 8px 0;
}
.popular-item-description{
  margin: 0 0 16px 0;
}
.popular-item-price-button-container{
  display:flex;
  justify-content: space-between;
}
.popular-product-item{
  display:flex;
  flex-direction: column;
  background-color: #FCFCFC;
}
.popular-product{
  margin-bottom: 80px;
}
/* О нас */
/* микросетки на гридах */
.about-us {
  background-image: url("../images/background/background-about-us-pattern.jpg");
  margin-bottom: 80px;
  padding:24px;
}
.about-us-title{
  margin:0;
}
.about-us-wrapper {
  background-color: #ffffff;
  padding:56px 40px;
}

.about-us-list {
  display:grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin: 0;
  column-gap:  32px;
  row-gap: 40px;
}
.about-us-list p{
  margin:0;
}

/* Новое в блоге и и форма подписаться */
.new-in-blog-subscribe-form-container {
  display: grid;
  grid-template-columns: 570px 570px;
  gap:30px;
  margin-bottom: 80px;
}

.new-in-blog a {
  color: inherit;
  text-decoration: none;
}

.new-in-blog {
  background-image: url("../images/background/background-news.jpg");
  background-repeat: no-repeat;
  width: 570px;
  padding:32px 235px 32px 32px;
  box-sizing: border-box;
}

.new-in-blog-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin:0 0 12px 0;
}

.subscribe-form {
  width: 570px;
  background-image: url("../images/background/background-subscribe.jpg");
  box-sizing: border-box;
  padding:6px;
}

.subscribe-form-wrapper {
  background-color: #ffffff;
  min-height: 100%;
  padding:26px;
  box-sizing: border-box;
}
.subscribe-form-text{
  margin:0 0 42px 0;
}
.subscribe-form-title {
  margin: 0;
}

/* Доставка на дом  */
.delivery {
  display: flex;
  background-image: url(../images/background/background-delivery.jpg);
  padding: 64px 64px 64px 100px;
  margin-bottom: 80px;
  background-repeat: no-repeat;
  box-sizing: border-box;

}

.delivery-form-container label {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.delivery-text-container {
  margin-right: 150px;
  align-self:center;
}
.delivery-title{
  margin:0;
  margin-bottom: 12px;
}
.delivery-text-container p{
  margin:0;
}

.delivery-form-container {
  min-width: 500px;
  background-color: #FCFCFC;
  min-height: 406px;
  padding:40px;
  box-sizing: border-box;
}

/* Контакты */
.contact {
  background-image: url('../images/background/background-contacts.jpg');
  background-repeat: no-repeat;
  min-height: 492px;
  padding: 64px;
  box-sizing: border-box;
}

.contact-container {
  width: 343px;
  min-height: 364px;
  background-color: #FCFCFC;
  box-sizing: border-box;
  padding:40px;
}



.address-section-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin:0;
  margin-bottom: 12px;
}
.address{
  margin-bottom:24px;
}

.telephone-section-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin:0;
  margin-bottom:12px;
}
.telephone-number{
  margin:0;
}
.telephone-section-work-time {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin:0;
  margin-bottom:32px;
}

.contact a {
  color: inherit;
  text-decoration: none;
}

/* Футер */
.main-footer a {
  color: inherit;
  text-decoration: none;
}

.footer-wrapper {
  width: 1170px;
  margin: 0 auto;
  display: flex;
  padding-top: 48px;
  padding-bottom: 57px;
}

.socials-footer {
  margin-left: 4px;
  margin-right: auto;
}
.social-item:first-child {
  margin-left:0;
}
.copyright {
  margin-right: 14px;
  margin-left: auto;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.fotter-link-special {
  font-weight: 700;
}

.footer-link-list {
  list-style: none;
  margin:0;
  padding:0;
  display:grid;
  grid-template-columns: max-content max-content;
  row-gap: 8px;
  column-gap: 24px;
}

.copyright-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

}
.logo-link{
  display: block;
}
/* Каталог */

/* Хлебные крошки */
.breadcrumbs {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  margin-top: 32px;
  margin-bottom: 16px;
}

.breadcrumbs a {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.breadcrumbs-item{
  margin-right: 28px;
}
/* Заголовок в каталоге */
.catalog-main-title {
  margin: 0;
  margin-bottom: 40px;
  text-align: left;
}

/* Фильтр  */
.icecream-filter {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 44px;
}

.sort-submite-button {
  font-size: 14px;
}

/* отфильтрованные мороженные */
.ice-cream-section-controls {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
}

.ice-cream-section-controls-button-show-more {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
}

.ice-cream-section a {
  color: inherit;
  text-decoration: none;
}

.ice-cream-list {
  display: grid;
  list-style: none;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(4, 270px);
  column-gap: 30px;
  row-gap: 40px;
  margin-bottom: 16px;;
}

.ice-cream-item{
  display:flex;
  flex-direction: column;
  background-color: #FCFCFC;
}

.ice-cream-item-link{
  display:block;
}
.ice-cream-item-text-container{
  padding:0 40px 24px 40px;
  display:flex;
  flex-direction: column;
  text-align: center;
  flex-grow: 1;
}

.ice-cream-item-title{
  margin:0 0 8px 0;
}
.ice-cream-item-description{
  margin: 0 0 16px 0;
}
.ice-cream-item-price-button-container{
  display:flex;
  justify-content: space-between;
  margin-top:auto;
}

.pagination-list {
  display: flex;
  list-style: none;
}
.ice-cream-section{
  margin-bottom: 40px;
}
